// Footer
.footer {
  font-size: $fz-13;
  margin-top: 100px;
  background: $dark;
  padding: 6px 0 7px;
  &__logo {
    max-width: 94px;width: 100%;
    img {
      display: block;
    }
  }
  &__nav {
    margin: 0 40px;
    max-width: 450px;width: 100%;
    ul {
      &:not(:last-child) {
        margin-right: 20px;
      }
      li:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Info
.info {
  font-size: $fz-10;
  min-width: 444px;
  &__bott {
    margin-top: 18px;
    p:not(:last-child) {
      margin-right: 40px;
    }
    a {
      color: $white;
      opacity: .7;
      font-weight: $regular;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Social
.social {
  &__item {
    border-radius: 50%;
    @include bl-size(40px, 40px);
    &:not(:last-child) {
      margin-right: 6px;
    }
    &:hover {
      opacity: .7;
    }
  }
}

// Pay
.pay {
  &__item {
    opacity: .5;
    @include bl-size(40px, 40px);
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}

// Media
@media only screen and (max-width: $xl) {
  .footer {
    margin-top: 80px;
  }
}