// Intro
.intro {
  color: $white;
  background: $red;
  margin-top: -100px;
  padding-top: 100px;
  .container {
    position: relative;
  }
  &__sl {
    margin-left: 0;
    max-width: 555px;width: 100%;
  }
  .swiper-slide {
    min-height: 570px;
    padding: 133px 0 97px;
    display: flex;
    flex-direction: column;
  }
  &__logo img {
    display: block;
  }
  &__title {
    font-size: $fz-29;
    line-height: 1.1;
    margin-top: 15px;
    font-weight: $bold;
  }
  .paragraph {
    font-size: $fz-18;
    line-height: 1.22;
    margin: 15px 0 45px;
    font-weight: $regular
  }
  &__btn {
    margin-top: auto;
    .btn {
      max-width: 205px;
    }
  }
  &__img {
    position: absolute;
    pointer-events: none;
    right: 30px;bottom: 13px;
  }
  .swiper-pagination {
    bottom: 12px;
  }
}

// Media
@media only screen and (max-width: $xl) {
  .intro {
    &__sl {
      max-width: 470px;
    }
    &__title {
      font-size: $fz-24;
    }
    .paragraph {
      font-size: $fz-16;
    }
    &__btn {
      .btn {
        max-width: 190px;
      }
    }
  }
}