// Fonts
$font-primary: 'Noto Sans', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$fw-black: 900;

// Size
$fz-10: 10px;
$fz-12: 12px;
$fz-11: 11px;
$fz-13: 13px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-24: 24px;
$fz-25: 25px;
$fz-29: 29px;
$fz-30: 30px;
$fz-32: 32px;
$fz-40: 40px;
$fz-64: 64px;

// Colors
$white: #fff;
$black: #000;
$dark: #342828;
$dark-light: #4d4040;
$blue: #317BE9;
$red: #CE0606;
$red-dark: #b20000;
$white-light: #F5F5F5;
$orange: #ffa800;
$green: #2bb16e;
$black-light: #2A2A2A;;

// Radius
$radius-4: 4px;
$radius-10: 10px;
$radius-20: 20px;
$radius-30: 30px;
$radius-40: 40px;
$radius-50: 50px;

// Media
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$mob: 479px;
$extra-mob: 369px;

// Media min
$min-xl: 1200px;
$min-lg: 992px;
$min-md: 768;
$min-sm: 576px;

$min-mob: 480px;
$min-extra-mob: 370px;